lab6/.vscode/launch.json
lab6/.vscode/tasks.json
lab6/bin/Debug/net7.0/appsettings.Development.json
lab6/bin/Debug/net7.0/appsettings.json
lab6/bin/Debug/net7.0/MvcMovie.deps.json
lab6/bin/Debug/net7.0/MvcMovie.dll
lab6/bin/Debug/net7.0/MvcMovie.exe
lab6/bin/Debug/net7.0/MvcMovie.pdb
lab6/bin/Debug/net7.0/MvcMovie.runtimeconfig.json
lab6/bin/Debug/net7.0/MvcMovie.staticwebassets.runtime.json
lab6/obj/MvcMovie.csproj.nuget.dgspec.json
lab6/obj/MvcMovie.csproj.nuget.g.props
lab6/obj/MvcMovie.csproj.nuget.g.targets
lab6/obj/project.assets.json
lab6/obj/project.nuget.cache
lab6/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
lab6/obj/Debug/net7.0/apphost.exe
lab6/obj/Debug/net7.0/MvcMovie.AssemblyInfo.cs
lab6/obj/Debug/net7.0/MvcMovie.AssemblyInfoInputs.cache
lab6/obj/Debug/net7.0/MvcMovie.assets.cache
lab6/obj/Debug/net7.0/MvcMovie.csproj.AssemblyReference.cache
lab6/obj/Debug/net7.0/MvcMovie.csproj.CoreCompileInputs.cache
lab6/obj/Debug/net7.0/MvcMovie.csproj.FileListAbsolute.txt
lab6/obj/Debug/net7.0/MvcMovie.dll
lab6/obj/Debug/net7.0/MvcMovie.GeneratedMSBuildEditorConfig.editorconfig
lab6/obj/Debug/net7.0/MvcMovie.genruntimeconfig.cache
lab6/obj/Debug/net7.0/MvcMovie.GlobalUsings.g.cs
lab6/obj/Debug/net7.0/MvcMovie.MvcApplicationPartsAssemblyInfo.cache
lab6/obj/Debug/net7.0/MvcMovie.pdb
lab6/obj/Debug/net7.0/MvcMovie.RazorAssemblyInfo.cache
lab6/obj/Debug/net7.0/MvcMovie.RazorAssemblyInfo.cs
lab6/obj/Debug/net7.0/project.razor.json
lab6/obj/Debug/net7.0/staticwebassets.build.json
lab6/obj/Debug/net7.0/staticwebassets.development.json
lab6/obj/Debug/net7.0/staticwebassets.pack.json
lab6/obj/Debug/net7.0/ref/MvcMovie.dll
lab6/obj/Debug/net7.0/refint/MvcMovie.dll
lab6/obj/Debug/net7.0/scopedcss/Views/Shared/_Layout.cshtml.rz.scp.css
lab6/obj/Debug/net7.0/scopedcss/bundle/MvcMovie.styles.css
lab6/obj/Debug/net7.0/scopedcss/projectbundle/MvcMovie.bundle.scp.css
lab6/obj/Debug/net7.0/staticwebassets/msbuild.build.MvcMovie.props
lab6/obj/Debug/net7.0/staticwebassets/msbuild.buildMultiTargeting.MvcMovie.props
lab6/obj/Debug/net7.0/staticwebassets/msbuild.buildTransitive.MvcMovie.props
lab6/obj/Debug/net7.0/staticwebassets/msbuild.MvcMovie.Microsoft.AspNetCore.StaticWebAssets.props
